:root {
    /*---------WHITE THEME----------*/

    --color-bg: #e4f4ff;
    --color-white: #fcffff;
    --color-dest: #cce8fa;
    --color-popUp: #ebf4ff;
    --color-logo: #fc4c38;
    --color-text: #807e7e;

    /*---------DARK THEME-----------*/

    --color-bgDark: #04121f;   
    --color-dark: #0a2742;
    --color-darkShadow: #061b2e;
    --color-destDark: #081726;
    --color-popUpDark: #0a1f32;
    --color-logoDark: #008b8b;
    --color-bgHoverDark: #202020;

    /*
    -----------BOX SHADOW------------

    box-shadow: inset 0px 0px 8px 4px var(--color-darkShadow);

    */

    /*
    --------------FONTES--------------

        font-family: 'Inconsolata', monospace;
        font-family: 'Kanit', sans-serif;
        font-family: 'PT Serif', serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;

    */
}

.graphic {
    position: absolute;
    z-index: -99999;
    margin: 50px;
    top: 90px;
    left: 90px;
    background: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px #00000027;
}
