:root {
    /*---------WHITE THEME----------*/

    --color-bg: #e4f4ff;
    --color-white: #fcffff;
    --color-dest: #cce8fa;
    --color-popUp: #ebf4ff;
    --color-logo: #fc4c38;
    --color-text: #807e7e;

    /*---------DARK THEME-----------*/

    --color-bgDark: #000000;   
    --color-dark: #0a2742;
    --color-darkShadow: #061b2e;
    --color-destDark: #081726;
    --color-popUpDark: #0a1f32;
    --color-logoDark: #008b8b;

    /*
    -----------BOX SHADOW------------

    box-shadow: inset 0px 0px 8px 0px var(--color-darkShadow);

    */

    /*
    --------------FONTES--------------

        font-family: 'Inconsolata', monospace;
        font-family: 'Kanit', sans-serif;
        font-family: 'PT Serif', serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;

    */

.menuSlider {
    width: 240px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    /*left: -300px;*/
    background-color: var(--color-popUp);
    box-shadow: 0px 0px 8px 2px #0000001f;
}
.menuSlider.active {
    width: 100px;
}
.menuSlider .logo {
    position: absolute;
    top: 66px;
    left: -20px;
}
.logo .i {
    text-transform: lowercase;
    background: var(--color-logo);
    padding: 0px 14px;
    border-radius: 100px;
    color: var(--color-white);
    margin-left: 20px;
}
.i.active {
    padding: 5px 19px;
    margin-left: 15px;
}
.nvester.active {
    opacity: 0;
    margin-left: -100px;
}
.logo .nvester {
    top: -4px;
    left: 75px;
    position: absolute;
    background: transparent;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: var(--color-logo);
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 224px;
    top: 68px;
    background-color: var(--color-logo);
    width: 30px;
    height: 30px;
    border-radius: 60px;
    cursor: pointer;
}
.arrow.active {
    left: 83px;
}
.leftArrow {
    opacity: 1;
    padding: 0px 2px 0px 0px;
    transition: all 1s;
}
.leftArrow.active {
    opacity: 0;
    margin-left: 200px;
}
.rightArrow {
    opacity: 0;
    padding: 0px 0px 0px 2px;
    margin-right: 300px;
    transition: all 0.5s;
}
.rightArrow.active {
    opacity: 1;
    margin-right: 0;
}
.arrow ion-icon {
    position: absolute;
    font-size: 25px;
    color: var(--color-white);
}
.menuLinks {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 120px;
    transition: all 2s;
}
.menuLinks a {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.2s;
    width: 200px;
}
.menuLinks.active a {
    width: 80px;
}
.menuLinks a:hover {
    color: #993399;
    background: #f2f7f7;
    width: 250px;
    border-right: 4px solid #993399;
}
.menuLinks.active a:hover {
    color: #993399;
    background: #f2f7f7;
    width: 104px;
    border-right: 4px solid #993399;
}
.menuLinks a ion-icon {
    position: relative;
    font-size:  30px;
    margin-right: 35px;
}
.menuLinks.active a {
    padding-left:33px;
}
.leftLinks1.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks2.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks3.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks4.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks5.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks6.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks7.active {
    margin-left: -120px;
    opacity: 0;
}
.leftLinks8.active {
    margin-left: -120px;
    opacity: 0;
}
