:root {
    /*---------WHITE THEME----------*/

    --color-bg: #e4f4ff;
    --color-white: #fcffff;
    --color-dest: #cce8fa;
    --color-popUp: #ebf4ff;
    --color-logo: #fc4c38;
    --color-text: #807e7e;

    /*---------DARK THEME-----------*/

    --color-bgDark: #000000;   
    --color-dark: #0a2742;
    --color-darkShadow: #061b2e;
    --color-destDark: #081726;
    --color-popUpDark: #0a1f32;
    --color-logoDark: #008b8b;
    --color-bgHoverDark: #202020;

    /*
    -----------BOX SHADOW------------

    box-shadow: inset 0px 0px 8px 0px var(--color-darkShadow); --INSET--
    box-shadow: 0 0 8px 2px #0000002f; --OUTSET--

    */

    /*
    --------------FONTES--------------

        font-family: 'Inconsolata', monospace;
        font-family: 'Kanit', sans-serif;
        font-family: 'PT Serif', serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;

    */
}

.userContent {
    position: relative;
    top: -282px;
    left: 1475px;
    width: 350px;
    height: 405px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #0000002f;
    width: 346px;
    height: 195px;
    padding: 20px;
    margin-bottom: 15px;
}
.ring {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-dark);
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37%/41% 44%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%; 
    animation: animate2 10s linear infinite;
}
.ring:hover i {
    border: 1px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #002e3a, #008bc2);
    padding: 9px;
    color: var(--color-bg);
    font-size: 40px;
    border-radius: 90px;
    box-shadow: 0 0 4px 0 #0093ad;
    transition: all 0.3s;
}
.ring:hover .userImg {
    box-shadow: 0 0 4px 0 #ff3300;
}
.username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.username h3 {
    font-weight: 400;
}
.ownCard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(125deg, #24ffff, #00cfcf);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #0000002f;
    width: 346px;
    height: 195px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    user-select: none;
    transition: all 0.3s;
}
.ownCard i:nth-child(1) {
    position: absolute;
    background: var(--clr);
    width: 30px;
    height: 30px;
    border-radius: 60px;
}
.ownCard i:nth-child(2) {
    position: absolute;
    background: var(--clr);
    width: 30px;
    height: 30px;
    border-radius: 60px;
    left: 47px;
}
.ownCard div {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 0 ;
}
.ownCard div h2 {
    font-weight: 500;
}
.ownCard ion-icon {
    position: relative;
    cursor: pointer;
    font-size: 40px;
}
.income {
    margin-bottom: 20px;
}
.cardNumber {
    font-size: 20px;
    font-weight: 700;
}


