:root {
    /*---------WHITE THEME----------*/

    --color-bg: #e4f4ff;
    --color-white: #fcffff;
    --color-dest: #cce8fa;
    --color-popUp: #ebf4ff;
    --color-logo: #fc4c38;
    --color-text: #807e7e;

    /*---------DARK THEME-----------*/

    --color-bgDark: #000000;   
    --color-dark: #0a2742;
    --color-darkShadow: #061b2e;
    --color-destDark: #081726;
    --color-popUpDark: #0a1f32;
    --color-logoDark: #008b8b;
    --color-bgHoverDark: #202020;

    /*
    -----------BOX SHADOW------------

    box-shadow: inset 0px 0px 8px 0px var(--color-darkShadow);

    */

    /*
    --------------FONTES--------------

        font-family: 'Inconsolata', monospace;
        font-family: 'Kanit', sans-serif;
        font-family: 'PT Serif', serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;

    */
}

.userContent {
    position: relative;
    top: -290px;
    left: 1155px;
    width: 355px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.ring {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0 25px 35px;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-dark);
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37%/41% 44%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%; 
    animation: animate2 10s linear infinite;
}
.ring:hover i {
    border: 1px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #002e3a, #008bc2);
    padding: 9px;
    color: var(--color-bg);
    font-size: 40px;
    border-radius: 90px;
    box-shadow: 0 0 4px 0 #0093ad;
}
.ring:hover .userImg {
    box-shadow: 0 0 4px 0 #ff3300;
}
.username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.username h3 {
    font-weight: 400;
}
